.app .home {
  text-align: center;
}

.app-logo {
  height: auto;
  width: auto;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);

  @media(max-width: 100vh) {
    max-width: calc(100vh - 20px);
  }

  @media(max-height: 100vw) {
    max-height: calc(100vw - 20px);
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 10px;
  min-height: 100vh;
}

.app .tabs a, .app .contents * {
  color: white;
}

.app .contents {
  margin: 10px 0;
}

.app .faq li:not(:last-child) {
  margin-bottom: 20px;
}

.app .faq .faq-question {
  font-weight: bold;
}

.app .faq .faq-answer {
  color: #ccc;
}

.contents {
  display: flex;
  justify-content: center;
}

.contents > * {
  max-width: 1024px;
}
