.app {
  color: white;
  text-align: center;
}

.app .title {
  color: white;
}

.app-logo {
  height: auto;
  width: auto;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);

  @media(max-width: 100vh) {
    max-width: calc(100vh - 20px);
  }

  @media(max-height: 100vw) {
    max-height: calc(100vw - 20px);
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 10px;
  min-height: 100vh;
}
